html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

dl dt {
  float: left;
  font-weight: bold;
}

dl dd {
  margin-left: 6em;
  margin-bottom: 0.5em;
}

#toolbar {
  width: 100%;
  height: 48px;
  position:fixed;
  top: 0px;
  left: 0px;
  background-image: -moz-linear-gradient(#e2e2e2, #a0a0a0);
  /* Safari 5.1+, Chrome 10+ */
  background-image: -webkit-linear-gradient(#e2e2e2, #a0a0a0); 
  /* Opera 11.10+ */
  background-image: -o-linear-gradient(#e2e2e2, #a0a0a0);
}

#current_commit_title {
  margin: 14px;
}

#toolbar select {
  margin: 11px;
}

#ref_select {
  float: right;
}

#wrapper {
  position: fixed;
  top: 48px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  width: 100%;
  overflow: hidden;
}

.loader {
  position: fixed;
  display: none;
  z-index: 100;
  top: 50%;
  left: 50%;
  opacity: 0.6;
  background: #000 url("/static/img/loader.gif") no-repeat center center;
  border-radius: 8px;
  width: 50px;
  height: 50px;
}

#left_tree {
  height: 100%;
  overflow: auto;
  float: left;
  width: 20%;
}

#left_divider {
  height: 100%;
  float: left;
  width: 0.3%;
  max-width: 5px;
  background-color: gray;
  cursor: col-resize;
}

#right_container {
  height: 100%;
  float:right;
  width: 79.7%;
}

#top_graph {
  width: 100%;
  height: 30%;
  overflow: auto;
}

#mid_divider {
  width: 100%;
  height: 0.4%;
  max-height: 5px;
  background-color: gray;
  cursor:row-resize;
}

#bottom_pane {
  width: 100%;
  height: 69.6%;
  overflow: auto;
}

#reveal {
  width: 1.3em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.3em;
  border: 1px dashed #ccc;
  background-color: #eee;
  color: #555;
  padding: 5px 10px;
  cursor: pointer;
}

/** Graph table **/
#top_graph table {
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  border-spacing: 0;
}

#top_graph thead th {
  padding: 1px 0px;
  margin: 0px;
  border-left: 1px solid #ccc;
  line-height: 15px;
}

#top_graph th.author {
  width: 12em;
}

#top_graph th.date {
  width: 14em;
}

#top_graph thead tr {
  background-image: url("/static/img/tablehead.png");
  background-repeat: repeat-x;
}

/** Images **/
.simple_image {
  margin: 1%;
  text-align: center;
}

.simple_image figcaption {
  border-bottom: 1px solid gray;
  padding: 1px;
  font-weight: bold;
}

.simple_image img {
  margin: 10px;
  background-color: #fff;
}

.simple_image .nav_link {
  display: none;
}

/** Commits & Diffs **/
.commit dl, .commit ul, .commit h1, .commit_msg, .filetable {
  margin: 1%;
}

.commit h1 {
  padding: .5em;
  background-color: #ccc;
  font-size: 1.5em;
}

.commit_msg {
  border: 1px dashed #ccc;
  padding: 0.2em;
}

.commit ul {
  list-style-type: none;
  font-family: monospace;
  padding: 0;
}

.filetable, .simple_image {
  border: 1px solid gray;
  display: inline-block;
  width: 98%;
  border-collapse: collapse;
  border-spacing: 0px;
  background-image: url("/static/img/sand.png");
  box-shadow: 0 5px 9px -3px black;
}

.filetable pre {
  padding: 0px;
  margin: 0px;
}

.filetable pre, .filetable td:last-child, .commit_msg {
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.filetable hr {
  border: 1px dashed gray;
}

.filetable thead tr:first-child, .filetable td {
  border-bottom: 1px solid gray;
}

.filetable td {
  padding: 0px 5px;
  text-align: right;
}

.filetable tr:last-child td {
  border-bottom: none;
}

.filetable th.filename {
  width: 100%;
}

.filetable td:last-child {
  width: 100%;
  border-left: 1px solid gray;
  border-bottom: none;
  text-align: left;
}

.nav_link {
  float: right;
}

.created, ins {
  background-color: #CFC;
  text-decoration: none;
}

.deleted, del {
  background-color: #FCC;
  text-decoration: none;
}

.modified, .replaced {
  background-color: #FFEEBB;
}

.created .modified, .created .replaced, .created ins {
  background-color: #9E9;
}

.deleted .modified, .deleted .replaced, .deleted del {
  background-color: #E99;
}

img.created, img.deleted, img.modified, img.replaced {
  background-color: #fff;
}