<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" type="text/css" href="/static/js/jquery.svg/jquery.svg.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/base.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/graph.css" />
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/jquery-ui.min.js"></script>
  <script type="text/javascript" src="/static/js/jquery.svg/jquery.svg.min.js"></script>
  <script type="text/javascript" src="/static/js/jquery.svg/jquery.svgdom.js"></script>
  <script type="text/javascript" src="/static/js/jquery.jstree.js"></script>
  <script type="text/javascript" src="/static/js/base.js"></script>
  <script type="text/javascript">
  //<![CDATA[
  gitgraph = {};
  gitgraph.initial_tree = {{initial_tree|safe}};
  gitgraph.existing_branches = {{existing_branches|tojson|safe}};
  gitgraph.loaded_count = {{nodes|length}};
  gitgraph.current_ref = {{current_ref|tojson|safe}}
  //]]>
  </script>
  <script type="text/javascript" src="/static/js/graph.js"></script>
  <title>Git-graph</title>
</head>
<body>
  <div id="toolbar">
    <select id="ref_select" name="ref_select">
      <optgroup label="Branches">
      {% for branch in branches|sort %}
        <option value="refs/heads/{{branch}}">{{branch}}</option>
      {% endfor %}
      </optgroup>
      <optgroup label="Tags">
      {% for tag in tags|sort %}
        <option value="refs/tags/{{tag}}">{{tag}}</option>
      {% endfor %}
      </optgroup>
      {% for remote in remotes.keys()|sort %}
      <optgroup label="Remote: {{remote}}">
        {% for rbranch in remotes[remote]|sort %}
        <option value="refs/remotes/{{remote}}/{{rbranch}}">{{rbranch}}</option>
        {% endfor %}
      </optgroup>
      {% endfor %}
    </select>
  </div>
  <div id="wrapper">
    <div class="loader"></div>
    <div id="left_tree"></div>
    <div id="left_divider"></div>
    <div id="right_container">
      <div id="top_graph">
        <table>
          <thead>
            <tr>
              <th scope="col">Commit</th>
              <th scope="col" class="author">Author</th>
              <th scope="col" class="date">Date</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <svg id="graph_svg" xmlns="http://www.w3.org/2000/svg" version="1.1" preserveAspectRatio="xMidYMid slice" width="100%" height="{{nodes|length * 20}}px">
                  <g id="graph_svg_group" transform="translate(10,10)">
                    {% include "graph.svg" %}
                  </g>
                </svg>
              </td>
              <td>
                <svg id="authors_svg" xmlns="http://www.w3.org/2000/svg" version="1.1" preserveAspectRatio="xMidYMid slice" width="100%" height="{{authors|length * 20}}px">
                  <g id="authors_svg_group" transform="translate(10,10)">
                    {% for label in authors %}
                    <text id="label_{{label.sha}}" class="label" onclick="load_commit('{{label.sha}}')" x="{{label.x * 20}}" y="{{label.y * 20 + 3}}" font-size="14">{{label.content}}</text>
                    {% endfor %}
                  </g>
                </svg>
              </td>
              <td>
                <svg id="dates_svg" xmlns="http://www.w3.org/2000/svg" version="1.1" preserveAspectRatio="xMidYMid slice" width="100%" height="{{dates|length * 20}}px">
                  <g id="dates_svg_group" transform="translate(10,10)">
                    {% for label in dates %}
                    <text id="label_{{label.sha}}" class="label" onclick="load_commit('{{label.sha}}')" x="{{label.x * 20}}" y="{{label.y * 20 + 3}}" font-size="14">{{label.content}}</text>
                    {% endfor %}
                  </g>
                </svg>
              </td>
            </tr>
          </tbody>
        </table>
        <div id="reveal">vv<div id="reveal_ajax"></div></div>
      </div>
      <div id="mid_divider"></div>
      <div id="bottom_pane">Content here...</div>
    </div>
  </div>
</body>
</html>