<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" type="text/css" href="/static/js/jquery.svg/jquery.svg.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/base.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/graph.css" />
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/jquery-ui.min.js"></script>
  <script type="text/javascript" src="/static/js/jquery.svg/jquery.svg.min.js"></script>
  <script type="text/javascript" src="/static/js/jquery.svg/jquery.svgdom.js"></script>
  <script type="text/javascript" src="/static/js/jquery.jstree.js"></script>
  <script type="text/javascript" src="/static/js/base.js"></script>
  <script type="text/javascript">
  //<![CDATA[
  gitgraph = {};
  gitgraph.initial_tree = {{initial_tree|safe}};
  //]]>
  </script>
  <script type="text/javascript" src="/static/js/graph.js"></script>
  <title>Git-graph</title>
</head>
<body>
  <div id="toolbar"></div>
  <div id="wrapper">
    <div id="left_tree"></div>
    <div id="left_divider"></div>
    <div id="right_container">
      <div id="top_graph">
        {% include "graph.svg" %}
      </div>
      <div id="mid_divider"></div>
      <div id="bottom_pane">Content here...</div>
    </div>
  </div>
</body>
</html>