<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="/static/js/jquery.svg/jquery.svg.css" />
  <style type="text/css">
  .edge {
    fill: none;
    stroke-width: 3;
    z-index: 1;
  }
  path.highlight {
    stroke-width: 4;
  }
  .col_0 {
    stroke: #5FA60F;
  }
  .col_1 {
    stroke: #2A5E98;
  }
  .col_2 {
    stroke: #F12B4D;
  }
  .col_3 {
    stroke: #6F4879;
  }
  .col_4 {
    stroke: #CFAD0A;
  }
  .col_5 {
    stroke: #D77001;
  }
  .col_6 {
    stroke: #B41700;
  }
  .col_7 {
    stroke: #66D9CF;
  }
  </style>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
  <script type="text/javascript" src="/static/js/jquery.svg/jquery.svg.min.js"></script>
  <script type="text/javascript" src="/static/js/jquery.svg/jquery.svgdom.js"></script>
  <script type="text/javascript" src="/static/js/graph.js"></script>
  <title>Git-graph</title>
</head>
<body>
  <div id="container">
  <svg xmlns="http://www.w3.org/2000/svg" version="1.1" preserveAspectRatio="xMidYMid slice" width="100%" height="2000px" style="width:100%; height:2000px;">
    <g transform="translate(10,10)">
    {% for commit in commits %}
      {% if commit.type == "path" %}
        <path class="edge {{commit.class}}" d="{% for elem in commit.d -%}
          {{elem.type}}{% if elem.x is defined %}{{elem.x * 20}}{{' '}}{% endif %}{% if elem.y is defined %}{{elem.y * 20}}{{' '}}{% endif %}
        {%- endfor %}" style="" onmouseover="highlight(evt,['{{commit.parent}}'],'blue');" onmouseout="unhighlight(evt,['{{commit.parent}}'])" />
      {% elif commit.type == "text" %}
        <text x="{{commit.x * 20}}" y="{{commit.y * 20 + 3}}" font-size="14">{{commit.content}}</text>
      {% elif commit.type == "circle" %}
        <circle id="{{commit.id}}" cx="{{commit.x * 20}}" cy="{{commit.y * 20}}" r="5" fill="white" stroke="black" stroke-width="1" style="z-index:1;"
         onmouseover="highlight(evt,['{{commit.parents|join("', '")}}'], 'yellow');" onmouseout="unhighlight(evt,['{{commit.parents|join("', '")}}']);" />
      {% endif %}
    {% endfor %}
    </g>
  </svg>
  </div>
</body>
</html>