<table class="filetable changed">
  <thead><tr><th colspan="3" class="filename" id="filename_{{file.sha}}">{{file.name}} <a class="back_to_top" href="#top_of_commit">(Back to top)</a></th></tr></thead>
  <tbody>
    {% for line in file.content -%}
    <tr class="{{line[0]}}">
      <td>
        {% if line[1] %}
        {{line[1]}}
        {% endif %}
      </td>
      <td>
        {% if line[2] %}
        {{line[2]}}
        {% endif %}
      </td>
      <td><pre>{{line[3]|safe}}</pre></td>
    </tr>
    {%- endfor %}
  </tbody>
</table>