{% if file.binary == "image" and file.content == "modified" %}
  {% set colspan = "4" %}
{% else %}
  {% set colspan = "3" %}
{% endif %}
{% if file.binary == "image" %}
  {% with filename = file.name, sha = file.sha %}
    {% if file.content == "modified" %}
      {% set old_sha = file.old_sha %}
    {% endif %}
    {% include "simple_image.html" %}
  {% endwith %}
{% else %}
<table class="filetable changed">
  <thead><tr><th colspan="{{colspan}}" class="filename" id="filename_{{file.sha}}">{{file.name}} <a class="nav_link" href="#top_of_commit">(Back to top)</a></th></tr></thead>
  <tbody>
    {% for line in file.content -%}
    <tr class="{{line[0]}}">
      <td>
        {% if line[0] != "unmodified" %}
        <a name="changed_line"></a>
        {% endif %}
        {% if line[1] %}
        {{line[1]}}
        {% endif %}
      </td>
      <td>
        {% if line[2] %}
        {{line[2]}}
        {% endif %}
      </td>
      <td><pre>{{line[3]|safe}}</pre></td>
    </tr>
    {% else %}
    <tr class="unmodified">
      <td></td><td></td><td>(Whitespace changes only)</td>
    </tr>
    {%- endfor %}
  </tbody>
</table>
{% endif %}
