<div class="commit">
  <script type="text/javascript">
  //<![CDATA[
  gitgraph.initial_tree = {{initial_tree|tojson(cls=td_encoder)|safe}};
  $('#find_commit').val({{commit.hex|tojson|safe}});
  $('#left_tree').jstree('refresh');
  //]]>
  </script>
  <a name="top_of_commit" />
  <h1>{{title}}</h1>
  <dl class="commit_info">
    <dt>Author</dt>
    <dd>{{author.name}} &lt;<a href="mailto:{{author.email}}">{{author.email}}</a>&gt;<br />{{author_time}}</dd>
    <dt>Committer</dt>
    <dd>{{committer.name}} &lt;<a href="mailto:{{committer.email}}">{{committer.email}}</a>&gt;<br />{{commit_time}}</dd>
    <dt>Commit</dt>
    <dd>{{commit.hex}}</dd>
    <dt>Tree</dt>
    <dd>{{commit.tree.hex}}</dd>
    {% for parent in commit.parents %}
    <dt>Parent</dt>
    <dd><a class="label" id="parent_{{parent.hex}}">{{parent.hex}}</a></dd>
    {% endfor %}
  </dl>
  <pre class="commit_msg">{{message}}</pre>
  <ul>
    {% for file in changed_files %}
    <li>{{file.kind}} <a href="#filename_{{file.sha}}">{{file.name}}</a></li>
    {% endfor %}
  </ul>
  {% for file in changed_files %}
  {% include "changed_file.html" %}
  {% endfor %}
</div>